@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --baseBackground: #141414ff;
  --blueSpot: #4257ffff;
  --blueSpotLight: #6373ffff;
  --blueSpotDark: #24246bff;

  --headerFooterHeight: 90;
}

body{
  background: var(--baseBackground);
  color: white;
  box-sizing: border-box;
}
