@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --baseBackground: #141414ff;
  --blueSpot: #4257ffff;
  --blueSpotLight: #6373ffff;
  --blueSpotDark: #24246bff;
  --greenSpot: #62bb53ff;

  --headerFooterHeight: 90;
  /* --visitorPostsSectionHeight: 0; */
}

body{
  background: var(--baseBackground);
  color: white;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars if unintended */
  position: relative;
  width: 100vw;
  height: 100vh;
}